.detalle {
    background-color: #414141;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
}

.content {
    font-weight: 400;
}

.detailCard {
    border: 8px solid #ffc712;
    margin: 0 auto;
    border-radius: 8px;
    background-color: black;
    width: 40%;
    padding: 30px;

}

.image {
    height: 400px;
    margin: 0 auto;
    width: 100%;
    object-fit: contain;
}

.cardinfo{
    border: 10px solid #6be3ff;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #57a6b9;
    font-size: 17px;

}
.infoCard {
    text-align: center;
    padding: 20px;
}

.info {
    text-align: initial;
    margin: 0 60px;
    font-family: 'Concert One';
    font-size: 17px;

}

.name {
    font-size: 50px;
    font-family: 'Luckiest Guy';
   
}

.back{
    width: 60px;
}

.backIcon {
    width: 30px;
    margin: 10px;
}